@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend/Lexend-Regular.ttf') format('ttf'),
       url('/fonts/Lexend/Lexend-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend/Lexend-Bold.ttf') format('ttf'),
       url('/fonts/Lexend/Lexend-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', 'Helvetica', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Home page styling */
.green-theme {
  color: #54BD86;
}

.dark-blue-theme {
  color: #1B6AAA;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

.home-title {
  color: #54BD86;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  margin: 0 
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding: 0.5rem 1rem; 
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background: linear-gradient(90deg, #1B6AAA, #54BD86, #9b8bf4, #8babf1);
}

.nav-links {
  display: flex;
  list-style: none; 
  margin-left: auto; 
  padding: 0; 
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: block; 
  padding: 0.5rem;
  margin: 0 0.5rem; 
}

.nav-item {
  color: #1B6AAA ; 
  border-radius: 30px !important;
  background-color: transparent;
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, #1B6AAA, #54BD86, #9b8bf4, #8babf1) 1;
  border-image-slice: 1;
  text-transform: none !important; 
}

.nav-item:hover {
  background-color: #54BD86;
  color: white;
}