@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Lexend", sans-serif;
  --primary-color: #1b6aaa;
  --secondary-color: #7468B6;
  --accent-color: #54BD86;
  --card-background: #ffffff;
  --card-text: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-primary {
    color: var(--primary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }
  .text-accent {
    color: var(--accent-color);
  }
}

* {
  font-family: "Lexend", sans-serif;
}
